body{
    background: url(../img/Mainback.png);
}

.wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background: white;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95A5A6;
    color: white;
    height: 50px;
}

::placeholder{
    color: black;
}

.details input, select {
    width: 15%;
    margin: auto;
    box-shadow:inset 0px 0px 4px 0.5px rgba(233, 233, 233, 1);   
    border:rgba(233, 233, 233, 1) solid;
    border-radius: 5px;
}

#savebtn {
    margin-right: 10px;
}

#studentsheet{
    width: 100%;
    border-spacing: 10px;
}

tr {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);    
}

td{
    text-align: center;
    width: 200px;
}

a {
    width: 100px;
    margin: auto;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .wrapper{
        margin-top: 10px;
    }

    .details{
    flex-direction: column;
    height: max-content;
    padding-top: 20px;
    }

    .details input, select {
        width: 70%;
        margin-bottom: 15px;
    }

    th{
        font-size: 12px;
    }

    #savebtn {
        margin-bottom: 10px;
    }


}